html,body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
}
@import url('../navigation/navigation.css');
@import url('../home/home.css');
@import url('../about/about.css');
@import url('../collections/collection.css');